[Desktop Entry]
Name=Pig Latin Translator
GenericName=Pig Latin Translator
Comment=A pig latin translator. 100% Vegan.
Categories=GTK;Utility;
Exec=pig-latin
Icon=pig-latin
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=pig-latin
X-GNOME-Keywords=Pig;Latin;Translator
Actions=AboutDialog;

[Desktop Action AboutDialog]
Exec=pig-latin --about
Name=About Pig Latin